html{
    font-size: 62.5%;
}
.bloglist-main{
    box-sizing: border-box;
    background-color:#E0E0E0;
    width:auto;
    margin:0 auto;
    padding-bottom: 60px;

}
.bloglist-main-div{
    width:100%;
    display:flex;
    /* border:1px solid green; */
}
/*側邊攔*/
.bloglist-aside{
    width:240px;
    height:400px;
    /* border:1px solid red; */
    padding:20px;
    box-sizing: border-box;
    background-color:#F5F5F5;
    position:sticky;
    top:70px;
    box-shadow: 3px 3px 3px grey;
    z-index: 1;
   

}
.bloglist-aside ol{
    /* width:200px; */
    /* border:1px solid blue; */
    box-sizing: border-box;
    position:relative;

}
.bloglist-aside ol:before{
    content:"";
    display:block;
    height:180px;
    border-left:5px solid #FBBC04;
    position:absolute;
    top:-1px;
    left:-3px;
}
.bloglist-aside li{
    /* border:1px solid yellow; */
    height:30px;
    margin:20px;
   

}
.bloglist-aside h2{
    font-size: 28px;
}
.bloglist-aside img{
    width:18px;
}
.bloglist-aside span{
    font-size: 20px;
    color:black;
}
.bloglist-aside a{
    text-decoration: none;
}

/*主要頁面*/
.blogcontent-section{
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid red;; */
    margin:0 auto;

}
.blogcontent-section h1{
    background-color:#E0E0E0;
    margin:0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    width:1200px;
    height:64px;
    line-height:2;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    /* border:1px solid red; */
}
article{
    width:100%;
    font-size: 20px;
    line-height: 2;
}
p{
    margin:40px;
    width:1000px;
    margin:0 auto;
    position:relative;
    
    
    /* border:1px solid blue; */
}
.blogcontent-img1{   
    display:block;
    width:720px;
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

}
.blogcontent-img2{
    display:block;
    width:720px;
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

}
.blogcontent-img3{
    display:block;
    width:50px;
    position:absolute;
    right:20px;
    bottom:20px;
}
.media_container{
    /* border:1px solid red; */
    width:220px;
    position:absolute;
    right:1%;
    bottom:-2%;
}
.media_container>img{
    width:40px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}








