body{
    font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";
    background-color:#E0E0E0;
}
/*導覽列*/
/*導覽列logo圖*/
.logo-div {
    margin-right:auto;
    /* border: 1px solid black; */
}
.logo-div a{
    /* border:1px solid red; */
}
img.nav-logo{
    /*logo 的img檔*/
    width:180px;
    display:block;
    padding-top: 7.8px;
    padding-left: 5px;
   
  }

.nav-logo:hover{
      cursor: pointer;
     
}
.hambergericon{
    display:none;
}
.nav_underline{
    /*首頁以外  選到的要有底線*/
    border-bottom:5px solid #FBBC04;
}
.nav{
    width:auto;
    height:70px;
    background-color: #fff;
    /* border: 1px solid green; */
    margin:0 auto;
    position:sticky;
    top:0px;
    z-index: 1;
    display:flex;
    justify-content: space-between;
}


.nav-ol{
    height:100%;
    width:655px;
    /* border:1px solid blue; */
    /* margin:0 auto; */
    display:flex;
    justify-content:flex-end;
    position:relative;
}
.nav-ol li{
    width:100px;
    /* border:1px solid red; */
    text-align:center;   
}
.nav-ol :nth-child(6){
    width:70px;
    text-align: center;
}
.nav-ol :nth-child(6) a{
    width:70px;
    text-align: center;
}
.nav-ol :nth-child(7){
    width:60px;
    text-align: center;
}


.nav-ol a{
    display:block;
    height:100%;
    width:100px;
    text-decoration:none;
    color:black;
    font-size:20px;
    line-height:3.5;
    
}
/* .nav-ol.engversion-a a{
    width:80px;
}
.nav-ol.engversion-a{
    width:80px;
} */
.nav-ol a:hover{
    /* border-bottom:5px solid goldenrod; */
    color:#FBBC04;
}
.searchbarlogo{
    width:40px;
    height:40px;
    margin-top:10px;
}

.searchbarlogo:hover{
  transform:scale(1.25);
  cursor: pointer;
}


/*click觸發的搜尋bar*/
.searchbar{
    /* border:1px solid black; */
    width:350px;
    height:50px;
    position:absolute;
    top:70px;
    right:0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:#fff;
    border-radius:10px;

}
.searchbar input{
  display:inline-block;
  border:1px solid #E0E0E0;
  font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";
  font-size:18px;
  height:40px;
  width:240px;
}
.searchbar button{
    font-family: 'Noto Sans TC', sans-serif,"微軟正黑體"; 
    height:40px;
    width:60px;
    font-size:18px;
   display:inline-block;
   border:0;
   background-color: #fff;
   cursor: pointer;
}
 /*隱藏的搜尋bar*/
 .hidesearchbar{
    display:none;
 }
 .mobile_closenav{
    display:none;
}
 /*手機版關掉側邊欄的按鈕*/

 .gototop_mobile{
    display:none
}
.gototopdiv{
    /* display:block; */
    display:none;
    position:fixed;
    bottom:50px;
    right:0px;
    z-index: 99;
    box-sizing: border-box;
    padding-top: 36px;
    width:100px;
    height:100px;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    opacity: 60%;
    cursor: pointer;
}
   


/*footer*/

.footer{
    box-sizing: border-box;
    width:auto;
    height:200px;
    margin:0 auto;
    background-color: grey;
    /* border:1px solid black; */
    display:flex;
}
.footer-logo-img{
    /*logoimg*/
    display:block;
    /* width:200px; */
    cursor: pointer;
    
}
.footer-logo-a{
    display:block;
    height:150px;
    width:150px;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-ol{
    /* box-sizing: border-box;
    border:2px solid white; */
    width:250px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}
.footer-ol li{
    /* border:1px solid red; */
    margin-top: 130px;
}

.footer-ol a{
    display:block;
    width:50px;
    height:40px;
}

.footer-ol img{
    width:100%;
}

/*版權免責聲明*/

.declare{
    /* border:1px solid white; */
    font-size: 18px;
    line-height: 1.5;
    width:400px;
    margin-left: auto;
    margin-right:30px;
    margin-top:30px;
}
