@media screen and (max-width:1440px){
    
.customized-header{
    width:1200px;
}

h1{
    font-size: 30px;
    width:135px;
    height:40px;
}

.header-ol li{
    width:45%;

}
.outline{
/*圓形裝飾外框*/
/* border:2px solid red; */
width:282px;
height:282px;

}
.header-pic1{
    width:250px;
    height:250px;
    margin:16px;
}
.header-pic2{
    width:250px;
    height:250px;
    margin:16px;
}
.header-pic3{
    width:250px;
    height:250px;
    margin:16px;
}
.header-pic4{
    width:250px;
    height:250px;
}
.header-text{
    /*介紹文字部分*/
    width:48%;
    /* border:1px solid white; */
}
.header-text h2{
    font-size: 27px;
}
.header-text p{
    width:100%;
    font-size: 20px;
}

.customized-main{
 
    width:1200px;
}
.customized-main h2{
    font-size: 30px;
    text-align:center;
    width:133px;
    height:40px;
    
}
.main-ol{
    width:100%;
}
.main-ol li{
    padding:18px;
    margin-bottom: 50px;

}
.main-ol h3{
    font-size: 27px;
    text-indent: 20px;
    margin-bottom: 20px;
}
.main-ol p{
    width:500px;
}
.main-ol img{
    width:600px;
    height:375px;

}

.intro{
    width:290px;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn{
    width:240px;
    font-size: 24px;
    height:48px;
}
.icon1{
    width:80px;
    position:absolute;
    top:7px;
    left:212px;
    
}
.icon2{
    width:100px;
    position:absolute;
    left:250px;
    bottom:250px;
}
.icon3{
    width:100px;
    position:absolute;
    left:1000px;
    bottom:100px;
}
}
