@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.25%;
}

h1 {
  font-size: 36rem;
  line-height: 1.5;
}

h2 {
  font-size: 32rem;
  line-height: 1.5;
}

h3 {
  font-size: 28rem;
  line-height: 1.5;
}

h4 {
  font-size: 24rem;
  line-height: 1.5;
}

h5 {
  font-size: 20rem;
  line-height: 1.5;
}

p {
  font-size: 16rem;
  line-height: 1.5;
}

.hyperLinkBtn {
  width: 180px;
  height: 40px;
  background: #FF9105;
  border-radius: 5px;
}
.hyperLinkBtn:hover {
  transform: scale(1.05);
}
.hyperLinkBtn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.hyperLinkBtn a p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.otherBtn {
  width: 180px;
  height: 40px;
  background: #FBBC04;
  border-radius: 5px;
}
.otherBtn:hover {
  transform: scale(1.05);
}
.otherBtn p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.index-header {
  box-sizing: border-box;
  width: 1280px;
  margin: 0 auto;
}

.indexslide {
  width: 100%;
  position: relative;
  /*換圖的動畫*/
}
.indexslide .img_oringin {
  width: 100%;
}
.indexslide .slideimg {
  width: 100%;
  display: none;
}
.indexslide .on {
  display: block;
}
.indexslide .slide-left-btn {
  display: block;
  width: 30px;
  height: 50px;
  border: none;
  background-color: white;
  opacity: 70%;
  clip-path: polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
  position: absolute;
  top: 48%;
  left: 1.3%;
  cursor: pointer;
}
.indexslide .slide-right-btn {
  display: block;
  width: 30px;
  height: 50px;
  border: none;
  background-color: white;
  opacity: 70%;
  clip-path: polygon(38% 0, 50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
  position: absolute;
  top: 48%;
  left: 96%;
  cursor: pointer;
}
.indexslide .dots {
  width: 80px;
  margin: 0 auto;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, 0);
}
.indexslide .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 2px;
  display: inline-block;
  opacity: 50%;
}
.indexslide .doton {
  opacity: 100%;
}
.indexslide .slidetitle {
  display: none;
}
.indexslide .title1 {
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title2 {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title3 {
  position: absolute;
  top: 20%;
  left: 50%;
  color: grey;
  text-shadow: 3px 3px 3px white;
}
.indexslide .title4 {
  position: absolute;
  top: 70%;
  left: 60%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title5 {
  position: absolute;
  top: 30%;
  left: 60%;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.indexslide .post {
  display: block;
}
.indexslide .fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.indexmain {
  box-sizing: border-box;
  padding: 1px;
  width: 1280px;
  background-color: #E0E0E0;
  margin: 0 auto;
}

.news {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  background-color: #fff;
  margin-top: 80px;
  padding: 20px;
  padding-top: 25px;
  border-radius: 5px;
  position: relative;
  display: flex;
}
.news .news-ol {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.news .news-ol .activity {
  text-decoration: none;
  display: block;
  width: 300px;
  height: 240px;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.news .news-ol .img1 {
  background-image: url("../image/index/newactivity1.jpg");
}
.news .news-ol .img2 {
  background-image: url("../image/index/newactivity2.jpg");
}
.news .news-ol .img3 {
  background-image: url("../image/index/newactivity3.jpg");
}
.news .news-ol h5 {
  position: absolute;
  bottom: 10%;
  left: 6%;
  text-shadow: 1px 1px 2px black;
  color: white;
}
.news .news-title {
  /*列表第一欄 最新活動的標題div*/
  /* border:1px solid red; */
  width: 200px;
  position: relative;
}
.news .news-title::before {
  content: "";
  display: block;
  height: 90px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 102px;
  left: 21px;
}
.news .news-title .news-title-up {
  color: black;
  letter-spacing: 10px;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 15px;
}
.news .news-title .news-title-bottom {
  color: black;
  letter-spacing: 10px;
  margin-left: 40px;
}
.news .news-title img {
  width: 80px;
  transform: rotate(335deg);
  position: absolute;
  top: 3%;
  left: 14%;
}

.customized {
  box-sizing: border-box;
  /* border:1px solid blueviolet; */
  width: 100%;
  margin-top: 100px;
  padding: 10px;
  position: relative;
}
.customized h3 {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 120px;
  position: relative;
}
.customized h3::before {
  content: "";
  display: block;
  width: 120px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 100%;
  left: 0%;
}
.customized p {
  margin: 50px auto 50px auto;
  text-align: center;
  color: #4A240C;
  font-weight: 700;
}
.customized .customized-ol {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.customized .customized-ol li {
  width: 300px;
  position: relative;
}
.customized .customized-ol li .customizedpic-outline {
  box-sizing: border-box;
  width: 290px;
  height: 290px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F5E75C;
  margin: 0 auto;
}
.customized .customized-ol li .customizedpic-outline .customizedpic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-size: cover;
}
.customized .customized-ol li .customizedpic-outline .customimg-1 {
  background-image: url("../image/index/indexcus1.jpg");
}
.customized .customized-ol li .customizedpic-outline .customimg-2 {
  background-image: url("../image/index/indexcus2.jpg");
}
.customized .customized-ol li .customizedpic-outline .customimg-3 {
  background-image: url("../image/index/indexcus3.jpg");
}
.customized .customized-ol li h4 {
  margin-top: 30px;
  text-align: center;
  color: black;
  position: relative;
}
.customized .customized-ol li h4::before {
  content: "";
  display: block;
  height: 26px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 10%;
  left: 25%;
}
.customized .customized-ol p {
  margin-left: 20px;
  color: #4A240C;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 2;
}
.customized .customizebtn {
  margin: 60px auto 60px auto;
}

.airplane-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.good-icon {
  width: 100px;
  height: 100px;
  transform: rotate(15deg);
  position: absolute;
  left: 60px;
  bottom: -60px;
}

.ourclient .ourclient-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 150px;
  height: 46px;
  position: relative;
}
.ourclient .ourclient-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 90%;
  left: 0%;
}
.ourclient .ourclient-ol {
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ourclient .ourclient-ol li {
  box-sizing: border-box;
  background-color: #D6D2C5;
  margin-bottom: 20px;
  width: 530px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.ourclient .ourclient-ol li div {
  width: 300px;
  margin-top: 15px;
}
.ourclient .ourclient-ol li div h4 {
  width: 200px;
  position: relative;
  text-align: center;
}
.ourclient .ourclient-ol li div h4::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourclient .ourclient-ol li div p {
  color: #4A240C;
  /* margin:0 auto; */
  /* border:1px solid black; */
  word-spacing: 2px;
  line-height: 2;
  margin-top: 15px;
}
.ourclient .ourclient-ol li .client-pic {
  display: block;
  width: 180px;
  height: 180x;
  border-radius: 5px;
}

.ourstory {
  position: relative;
  margin-bottom: 50px;
  border-radius: 5px;
}
.ourstory .ourstory-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 150px;
  position: relative;
}
.ourstory .ourstory-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 90%;
  left: 0%;
}
.ourstory .ourstory-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 190px;
}
.ourstory .ourstory-div {
  box-sizing: border-box;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px 30px;
}
.ourstory .ourstory-div img {
  width: 500px;
  height: 333px;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
}
.ourstory .ourstory-div div {
  width: 600px;
  height: 400px;
  /* border:1px solid red; */
  margin-top: 30px;
}
.ourstory .ourstory-div .ourstory-subtitle1 {
  margin-bottom: 10px;
  position: relative;
  width: 280px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle1::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0px;
}
.ourstory .ourstory-div .ourstory-subtitle2 {
  margin-bottom: 10px;
  position: relative;
  width: 240px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle2::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div .ourstory-subtitle3 {
  margin-bottom: 10px;
  position: relative;
  width: 240px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle3::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div .ourstory-subtitle4 {
  margin-bottom: 10px;
  position: relative;
  width: 270px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle4::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div p {
  color: #4A240C;
  line-height: 2;
  margin-bottom: 50px;
}

/*# sourceMappingURL=indexNew.css.map */
