@media screen and (max-width:1440px){
  
    /*main部分*/
    .indexmain{ 
        width:1200px;
    }
    /*以下是最新活動列表*/
    .news{
        width:95%;/*1140px*/
        height:282px;
    }
    .news-ol{
         /*寬度是上層減去newstitle剩下的100%*/
        width:100%;
        /* height:100%; */
        /* border:2px solid black; */
    }
    .news-ol li{
        /* border:1px solid blue; */
        width:31%;
        height:100%;
    }
    .news-title{
        /*列表第一欄 最新活動的標題div*/
        width:166px;
        position:relative;
    }
    .news-title ::before{
        /*色bar裝飾*/
        content:"";
        display:block;
        height:82px;
        border-left: 5px solid #FBBC04;
        position:absolute;
        top:85px;
        left:21px;  
    }
    .news-title-up{
        font-size: 30px;
        color:black;
        letter-spacing:8px;
        margin-top:83px;
        margin-left:33px;
        margin-bottom: 15px;
    }
    .news-title-bottom{
        font-size: 30px;
        color:black;
        letter-spacing:8px;
        margin-left:33px;
    }
    .news-title>img{
        width:75px;
        transform:rotate(335deg);
        position:absolute;
        top:175px;
        left:20px;
       
    }
    
    
    .activity1{
        width:100%;
        height:100%;
    }
    .activity2{
        width:100%;
        height:100%;
    }
    .activity3{
        width:100%;
        height:100%;
    }
    .news-ol p{
        font-size: 20px;
        position:absolute;
        bottom:30px;
        left:35px;
        text-shadow: 1px 1px 2px black;
    
    }
    
    .news-ol p{
        color:white;
        
    }
    
    /*客製旅遊*/
    .customized h2{
        font-size: 30px;
        text-align:center;
        margin:0 auto;
        margin-top:40px;
        margin-bottom:30px;
        width:128px;
        height:40px;
    }
    
    .customized>p{
        font-size: 22px;
    }
    /*客製旅遊的清單*/
    .customized-ol{
        width:80%; /*960px*/
        /* border:1px solid red; */
    
    }
    .customized-ol li{
        width:31%; /**/
        height:415px;
        /* border:1px solid black; */
        position:relative;
    }
    /*客製旅遊的小圖*/
    .customizedpic-1{
        /* border:1px solid red; */
        height:250px;
        width:250px;
    }
    
    .customizedpic-2{
        /* border:1px solid red; */
        height:250px;
        width:250px;
    
    }
    .customizedpic-3{
        /* border:1px solid red; */
        height:250px;
        width:250px;
    }
    /*克製旅行小圖的外框*/
    .customizedpic-outline{
        box-sizing: border-box;
        width:282.5px;
        height:282.5px;
        padding:16.25px;
    }
    
    .customized-ol h3::before{
        /* 小標題的底線 */
     
        position:absolute;
        top:300px;
        left:80px;
    }
    .customized-ol .customh3::before{
        position:absolute;
        top:300px;
        left:66px; 
    }
    
    
    .customized-ol p{
        width:100%;        
        margin:20px auto 40px auto;
        /* border:1px solid red;
     */
    }
    .customized a{
        width:150px;
        height:50px;
        margin:100px auto 40px auto;
        font-size:20px;
        line-height:2.5;

    }
    .airplane-icon{
        width:112px;
        height:112px;
        position:absolute;
        top:20px;
        right:20px;
    
    }
    .good-icon{
        width:154px;
        height:154px;
        transform: rotate(15deg);
        position:absolute;
        left:60px;
        bottom:-60px;
    }
    
    .ourclient h2{
        font-size: 30px;
        text-align:center;
        margin:0 auto;
        margin-top:40px;
        margin-bottom:40px;
        width:157px;
        height:40px;
        border-bottom:5px solid #FBBC04;
    }
    
    .ourclient-ol{
        box-sizing: border-box;
        width:100%;
        /* border:1px solid red; */
        margin:0 auto;
        margin-top: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ourclient-ol li{
        margin-bottom:0px;
        width:50%;
        height:auto;
        padding:5px;
        border-radius:5px;
        display:flex;
        justify-content: space-around;
       
        
    }
    .ourclient-ol div{
        /*我們的客戶的文字區塊*/
        box-sizing: border-box; 
     /* border:1px solid red; */
     width:50%;
     height:auto;
    
    }
    .ourclient-ol h3{
        width:80%;
        font-size:24px;
        margin-top: 15px;
    
    }
    
    .ourclient-ol p{
        font-size: 20px;
        color:#4A240C;
        width:95%;
        word-spacing: 2px;
        line-height: 2;
        margin-top: 20px;
    
    }
    /*我們的客戶圖案*/
    .client-pic{
        display:block;
        height:240px;
        width:240px;
        border-radius: 5px;
        margin-top: 15px;
    }
    
    /*下面是我們的故事*/
    .ourstory h2{
        font-size: 30px;
        margin-bottom:40px;
        width:160px;
        height:40px;
    }
    
    .ourstory-icon{
        width:102px;
        height:111px;
        position:absolute;
        top:-60px;
        left:190px;
    
    }
    .ourstory-div{
        width:91%;
    }
    .ourstory-div img{
        width:48%;
        height:332px;
        margin-top: 20px;
        display:block;
        border-radius: 5px;   
    }
    
    .ourstory-div>div{
        width:48%;
        /* height:332px; */
        /* border:1px solid red; */
        margin-top: 20px;
    } 
    .ourstory-div h3{
        font-size: 22px;
        text-indent: 30px;
        margin-bottom: 10px;
    }
    
    .ourstory-div p{
        width:100%;
        /* border:1px solid red; */
        font-size: 20px;
        margin-bottom: 50px;
        
    }
    
    
}