/* html{
    font-size: 62.5%;
} */
.index-header{
    box-sizing: border-box;
    width:auto;
    /* border:1px solid red; */
    margin:0 auto;
}

.indexslide{
    width:100%;
    position: relative;
}

.img_oringin{
    width:100%;
}

.slideimg{
    width:100%;
    display:none;
}
.on{
    display:block;
}

.slide-left-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path:polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
    position: absolute;
    top:48%;
    left:1.3%;
    cursor: pointer;
}

.slide-right-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path: polygon(38% 0,50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
    position: absolute;
    top:48%;
    left:96%;
    cursor: pointer;
}
/*點點的區塊*/
.dots{
    width:80px;
    margin:0 auto;
    position:absolute;
    top:96%;
    left:50%; 
    transform: translate(-50%,0);
}

.dot{
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color:#fff;
    margin-right:2px;
    display:inline-block;
    opacity: 50%;
}
.doton{
    opacity: 100%;
}
.slidetitle{
    display:none;
    font-size: 36px;
    
}
.title1{
    position:absolute;
    top:15%;
    left:10%;
    color:white;
    text-shadow:3px 3px 3px black ;
}
.title2{
    position:absolute;
    top:30%;
    left:10%;
    color:white;
    text-shadow:3px 3px 3px black ;
}
.title3{
    position:absolute;
    top:20%;
    left:50%;
    color:grey;
    text-shadow:3px 3px 3px white;
}
.title4{
    position:absolute;
    top:70%;
    left:60%;
    color:white;
    text-shadow:3px 3px 3px black;

}
.title5{
    position:absolute;
    top:30%;
    left:60%;
    color:white;
    text-shadow:1px 1px 1px black;

}
.post{
    display:block;
}

/*換圖的動畫*/
.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
/*換圖的動畫*/

/*main部分*/
.indexmain{ 
    box-sizing: border-box;
    padding: 5px;
    width:1440px;
    background-color: #E0E0E0;
    margin:0 auto;
    /* border:1px solid red; */

}
/*以下是最新活動列表*/
.news{
    box-sizing: border-box;
    width:1360px;
    height:340px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 50px;
    padding:20px;
    /* border:1px solid green; */
    border-radius: 5px;
    position:relative;
    display:flex;
}
.news-ol{
    /*寬度是上層減去newstitle剩下的100%*/
    width:100%;
    /* height:100%; */
    /* border:2px solid black; */
    display:flex;
    justify-content:space-between;
}
.news-ol li{
    /* border:1px solid blue; */
    width:360px;
    height:300px;
}
.news-title{
    /*列表第一欄 最新活動的標題div*/
    /* border:1px solid red; */
    width:200px;
    position:relative;

}
.news-title ::before{
    /*色bar裝飾*/
    content:"";
    display:block;
    height:100px;
    border-left: 5px solid #FBBC04;
    position:absolute;
    top:97px;
    left:21px;  
}
/* .news-title h2{
   
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    
} */
.news-title-up{
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    margin-top:100px;
    margin-left:40px;
    margin-bottom: 15px;
}
.news-title-bottom{
    font-size: 36px;
    color:black;
    letter-spacing:10px;
    margin-left:40px;
}
.news-title>img{
    width:90px;
    transform:rotate(335deg);
    position:absolute;
    top:200px;
    left:20px;
   
}


.activity1{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity1.jpg");
    background-size: cover;
    position:relative;
    border-radius: 5px;
    
}
.activity2{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity2.jpg");
    background-size: cover;
    position:relative;
    border-radius: 5px;
    
}
.activity3{
    text-decoration: none;
    display:block;
    width:360px;
    height:300px;
    background-image: url("../image/index/newactivity3.jpg");
    background-size: cover;
    position:relative;
    border-radius: 5px;
    
}
.news-ol p{
    font-size: 22px;
    position:absolute;
    bottom:30px;
    left:35px;
    text-shadow: 1px 1px 2px black;

}

.news-ol p{
    color:white;
    
}

/*客製旅遊*/
.customized{
    box-sizing: border-box;
    /* border:1px solid blueviolet; */
    width:100%;
    margin-top: 100px;
    padding:10px;
    position:relative;
}
.customized h2{
    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:30px;
    width:154px;
    height:46px;
    border-bottom:5px solid #FBBC04;

    
}

.customized>p{
    margin:40px auto 20px auto;
    text-align: center;
    color:#4A240C;
    font-size: 24px;
}
/*客製旅遊的清單*/
.customized-ol{
    width:1080px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;

}
.customized-ol li{
    width:340px;
    height:500px;
    /* border:1px solid black; */
    position:relative;
}
/*客製旅遊的小圖*/
.customizedpic-1{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus1.jpg");
    background-size: cover;
}

.customizedpic-2{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus2.jpg");
    background-size: cover;

}
.customizedpic-3{
    /* border:1px solid red; */
    height:300px;
    width:300px;
    border-radius: 50%;
    background-image: url("../image/index/indexcus3.jpg");
    background-size: cover;

}
/*克製旅行小圖的外框*/
.customizedpic-outline{
    box-sizing: border-box;
    width:340px;
    height:340px;
    padding:20px;
    border-radius: 50%;
    background-color: #F5E75C;
    /* background: linear-gradient(#e66465, #9198e5); */
}

.customized-ol h3{
    margin-top: 20px;
    font-size:24px;
    text-align:center;
    color:black;

}
.customized-ol h3::before{
    /* 小標題的底線 */
    content:"";
    border-left:5px solid #FBBC04;
    height:30px;
    display:block;
    position:absolute;
    top:358px;
    left:100px;
}
.customized-ol .customh3::before{
     content:"";
    border-left:5px solid #FBBC04;
    height:30px;
    display:block;
    position:absolute;
    top:358px;
    left:88px; 
}


.customized-ol p{
    width:315px;
    /* border:1px solid red; */
    margin-left: 20px;
    font-size: 20px;
    color:#4A240C;
    margin:0 auto;
    margin-top: 20px;
    line-height:2;

}
.customized a{
    text-decoration: none;
    display:block;
    width:180px;
    height:60px;
    margin:40px auto 40px auto;
    background-color:#FF9105;
    font-size:24px;
    line-height:2.5;
    text-align: center;
    color:#fff;
    border-radius: 5px;
}
.customized a:hover{
    transform:scale(1.05);
}
.airplane-icon{
    width:135px;
    height:135px;
    position:absolute;
    top:20px;
    right:10px

}
.good-icon{
    width:185px;
    height:185px;
    transform: rotate(15deg);
    position:absolute;
    left:60px;
    bottom:-60px;
}
    
.ourclient{
    
    /* border:1px solid green; */
}
.ourclient h2{
    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:40px;
    width:190px;
    height:46px;
    border-bottom:5px solid #FBBC04;
}

.ourclient-ol{
    box-sizing: border-box;
    width:1370px;
    /* border:1px solid red; */
    margin:0 auto;
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ourclient-ol li{
    box-sizing: border-box;
    background-color:#D6D2C5;
    /* border:1px solid blue; */
    margin-bottom: 20px;
    width:670px;
    height:350px;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content: space-around;
   
    
}
.ourclient-ol div{
   
 /* border:1px solid red; */
    width:300px;
    height:300px;
    margin-top: 15px;

}
.ourclient-ol h3{
    font-size:30px;
    border-left:5px solid #FBBC04;
    text-align: center;

}

.ourclient-ol p{
    font-size: 20px;
    color:#4A240C;
    width:300px;
    /* margin:0 auto; */
    /* border:1px solid black; */
    word-spacing: 2px;
    line-height: 2;
    margin-top: 15px;

}
/*我們的客戶圖案*/
.client-pic{
    display:block;
    width:300px;
    height:300px;
    margin-top: 20px;
    border-radius: 5px;
}

/*下面是我們的故事*/
.ourstory{
    /* border:1px solid green; */
    position:relative;
    margin-bottom: 50px;
    border-radius: 5px;

}

.ourstory h2{

    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:20px;
    width:190px;
    height:45px;
    border-bottom:5px solid #FBBC04;
    
}

.ourstory-icon{
    width:123px;
    height:134px;
    position:absolute;
    top:-60px;
    left:190px;

}
.ourstory-div{
    box-sizing:border-box;
    width:1300px;
    margin:0 auto;
    /* border:1ps solid red; */
    display:flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    padding:10px 30px;

}
.ourstory-div img{
    width:600px;
    height:400px;
    margin-top: 20px;
    display:block;
    border-radius: 5px;   
}

.ourstory-div>div{
    width:600px;
    height:400px; 
    /* border:1px solid red; */
    margin-top: 30px;
} 
.ourstory-div h3{
    font-size: 24px;
    border-left:5px solid #FBBC04;
    text-indent: 30px;
    margin-bottom: 10px;
}

.ourstory-div p{
    font-size: 20px;
    color:#4A240C;
    line-height: 2;
    margin-bottom: 50px;
    
}

