@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.25%;
}

h1 {
  font-size: 36rem;
  line-height: 1.5;
}

h2 {
  font-size: 32rem;
  line-height: 1.5;
}

h3 {
  font-size: 28rem;
  line-height: 1.5;
}

h4 {
  font-size: 24rem;
  line-height: 1.5;
}

h5 {
  font-size: 20rem;
  line-height: 1.5;
}

p {
  font-size: 16rem;
  line-height: 1.5;
}

.hyperLinkBtn {
  width: 180px;
  height: 40px;
  background: #FF9105;
  border-radius: 5px;
}
.hyperLinkBtn:hover {
  transform: scale(1.05);
}
.hyperLinkBtn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.hyperLinkBtn a p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.otherBtn {
  width: 180px;
  height: 40px;
  background: #FBBC04;
  border-radius: 5px;
}
.otherBtn:hover {
  transform: scale(1.05);
}
.otherBtn p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.index-header {
  box-sizing: border-box;
  width: auto;
  margin: 0 auto;
}

.indexslide {
  width: 100%;
  position: relative;
  /*換圖的動畫*/
}
.indexslide .img_oringin {
  width: 100%;
  margin: 0;
  padding: 0;
}
.indexslide .slideimg {
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
}
.indexslide .on {
  display: block;
}
.indexslide .slide-left-btn {
  display: block;
  width: 30px;
  height: 50px;
  border: none;
  background-color: white;
  opacity: 70%;
  clip-path: polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
  position: absolute;
  top: 48%;
  left: 1.3%;
  cursor: pointer;
}
.indexslide .slide-right-btn {
  display: block;
  width: 30px;
  height: 50px;
  border: none;
  background-color: white;
  opacity: 70%;
  clip-path: polygon(38% 0, 50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
  position: absolute;
  top: 48%;
  right: 1.3%;
  cursor: pointer;
}
.indexslide .dots {
  width: 80px;
  margin: 0 auto;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, 0);
}
.indexslide .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 2px;
  display: inline-block;
  opacity: 50%;
}
.indexslide .doton {
  opacity: 100%;
}
.indexslide .slidetitle {
  display: none;
}
.indexslide .title1 {
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title2 {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title3 {
  position: absolute;
  top: 20%;
  left: 50%;
  color: grey;
  text-shadow: 3px 3px 3px white;
}
.indexslide .title4 {
  position: absolute;
  top: 70%;
  left: 60%;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.indexslide .title5 {
  position: absolute;
  top: 30%;
  left: 60%;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.indexslide .post {
  display: block;
}
.indexslide .fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.indexmain {
  box-sizing: border-box;
  max-width: 1280px;
  width: auto;
  background-color: #E0E0E0;
  margin: 0 auto;
}

.news {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  height: 300px;
  background-color: #fff;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
}
.news .news-ol {
  width: 85%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .news-ol li {
  width: 33%;
  max-width: 300px;
  position: relative;
}
.news .news-ol .activity {
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.news .news-ol .activity img {
  width: 100%;
}
.news .news-ol h5 {
  position: absolute;
  bottom: 10%;
  left: 6%;
  text-shadow: 1px 1px 2px black;
  color: white;
}
.news .news-title {
  /*列表第一欄 最新活動的標題div*/
  width: 15%;
  min-width: 100px;
  position: relative;
}
.news .news-title::before {
  content: "";
  display: block;
  height: 90px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 102px;
  left: 21px;
}
.news .news-title .news-title-up {
  color: black;
  letter-spacing: 10px;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 15px;
}
.news .news-title .news-title-bottom {
  color: black;
  letter-spacing: 10px;
  margin-left: 40px;
}
.news .news-title .news-title-rwd {
  display: none;
}
.news .news-title img {
  width: 80px;
  transform: rotate(335deg);
  position: absolute;
  top: 3%;
  left: 14%;
}

.customized {
  box-sizing: border-box;
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  position: relative;
}
.customized h3 {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 120px;
  position: relative;
}
.customized h3::before {
  content: "";
  display: block;
  width: 120px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 90%;
  left: 0%;
}
.customized p {
  margin: 50px auto 50px auto;
  text-align: center;
  color: #4A240C;
  font-weight: 600;
}
.customized .customized-ol {
  width: 90%;
  max-width: 960px;
  min-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.customized .customized-ol li {
  max-width: 300px;
  width: 33%;
  position: relative;
}
.customized .customized-ol li .customizedpic-outline {
  box-sizing: border-box;
  width: 290px;
  height: 290px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F5E75C;
  margin: 0 auto;
}
.customized .customized-ol li .customizedpic-outline .customizedpic {
  width: 250px;
  border-radius: 50%;
}
.customized .customized-ol li h4 {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  color: black;
  position: relative;
  width: 140px;
  text-indent: 10px;
}
.customized .customized-ol li h4::before {
  content: "";
  display: block;
  height: 26px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 10%;
  left: 0;
}
.customized .customized-ol p {
  margin-left: 20px;
  color: #4A240C;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 2;
}
.customized .customizebtn {
  margin: 60px auto 60px auto;
}

.airplane-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.good-icon {
  width: 100px;
  height: 100px;
  transform: rotate(15deg);
  position: absolute;
  left: 60px;
  bottom: -60px;
}

.ourclient .ourclient-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 150px;
  height: 46px;
  position: relative;
}
.ourclient .ourclient-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 90%;
  left: 0%;
}
.ourclient .ourclient-ol {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ourclient .ourclient-ol li {
  background-color: #D6D2C5;
  margin-bottom: 20px;
  width: 530px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.ourclient .ourclient-ol li div {
  width: 300px;
  margin-top: 15px;
}
.ourclient .ourclient-ol li div h4 {
  width: 200px;
  position: relative;
  text-align: center;
}
.ourclient .ourclient-ol li div h4::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 0%;
  left: 0%;
}
.ourclient .ourclient-ol li div p {
  color: #4A240C;
  /* margin:0 auto; */
  /* border:1px solid black; */
  word-spacing: 2px;
  line-height: 2;
  margin-top: 15px;
}
.ourclient .ourclient-ol li .client-pic {
  display: block;
  width: 180px;
  height: 180x;
  border-radius: 5px;
}

.ourstory {
  position: relative;
  margin-bottom: 50px;
  border-radius: 5px;
}
.ourstory .ourstory-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 150px;
  position: relative;
}
.ourstory .ourstory-title::before {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 5px solid #FBBC04;
  position: absolute;
  top: 90%;
  left: 0%;
}
.ourstory .ourstory-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: 190px;
}
.ourstory .ourstory-div {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px 30px;
}
.ourstory .ourstory-div div {
  width: 45%;
  height: auto;
  margin-top: 20px;
}
.ourstory .ourstory-div div img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.ourstory .ourstory-div .ourstory-subtitle1 {
  margin-bottom: 10px;
  position: relative;
  width: 280px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle1::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0px;
}
.ourstory .ourstory-div .ourstory-subtitle2 {
  margin-bottom: 10px;
  position: relative;
  width: 240px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle2::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div .ourstory-subtitle3 {
  margin-bottom: 10px;
  position: relative;
  width: 240px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle3::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div .ourstory-subtitle4 {
  margin-bottom: 10px;
  position: relative;
  width: 270px;
  text-align: center;
}
.ourstory .ourstory-div .ourstory-subtitle4::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 5px solid #FBBC04;
  position: absolute;
  top: 5%;
  left: 0%;
}
.ourstory .ourstory-div p {
  color: #4A240C;
  line-height: 2;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .indexmain {
    padding: 0px;
    width: auto;
    margin: 0 auto;
  }

  .news {
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    background-color: #fff;
    height: auto;
    flex-wrap: wrap;
    border-radius: 0px;
  }
  .news .news-ol {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .news .news-ol li {
    width: 33%;
    max-width: 300px;
    position: relative;
  }
  .news .news-ol .activity {
    text-decoration: none;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .news .news-ol .activity img {
    width: 100%;
  }
  .news .news-ol h5 {
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: white;
  }
  .news .news-title {
    /*列表第一欄 最新活動的標題div*/
    display: flex;
    min-width: 120px;
    position: static;
    margin: 0 auto;
  }
  .news .news-title::before {
    display: none;
  }
  .news .news-title .news-title-up {
    display: none;
  }
  .news .news-title .news-title-bottom {
    display: none;
  }
  .news .news-title .news-title-rwd {
    display: block;
    width: 120px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  .news .news-title .news-title-rwd::before {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 5px solid #FBBC04;
    position: absolute;
    top: 90%;
    left: 0;
  }
  .news .news-title img {
    display: none;
  }

  .customized {
    padding: 0px;
    position: relative;
  }
  .customized h3 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    position: relative;
  }
  .customized h3::before {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 5px solid #FBBC04;
    position: absolute;
    top: 90%;
    left: 0%;
  }
  .customized p {
    margin: 50px auto 50px auto;
    text-align: center;
    color: #4A240C;
    font-weight: 600;
  }
  .customized .customized-ol {
    width: 100%;
    min-width: 750px;
    flex-direction: column;
    align-items: center;
  }
  .customized .customized-ol li {
    width: auto;
    margin-top: 30px;
  }
  .customized .airplane-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .ourstory .ourstory-icon {
    width: 70px;
    height: 70px;
    top: 0px;
    left: 150px;
  }
  .ourstory .ourstory-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .ourstory .ourstory-div:nth-child(1) {
    order: 1;
  }
  .ourstory .ourstory-div:nth-child(2) {
    order: 2;
  }
  .ourstory .ourstory-div:nth-child(3) {
    order: 4;
  }
  .ourstory .ourstory-div:nth-child(4) {
    order: 3;
  }
  .ourstory .ourstory-div div {
    margin: 0 auto;
    width: 65%;
    height: auto;
    margin-top: 20px;
  }
  .ourstory .ourstory-div div img {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
  }
  .ourstory .ourstory-div .ourstory-subtitle1 {
    margin-bottom: 10px;
    position: relative;
    width: 280px;
    text-align: center;
  }
  .ourstory .ourstory-div .ourstory-subtitle1::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 5%;
    left: 0px;
  }
  .ourstory .ourstory-div .ourstory-subtitle2 {
    margin-bottom: 10px;
    position: relative;
    width: 240px;
    text-align: center;
  }
  .ourstory .ourstory-div .ourstory-subtitle2::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 5%;
    left: 0%;
  }
  .ourstory .ourstory-div .ourstory-subtitle3 {
    margin-bottom: 10px;
    position: relative;
    width: 240px;
    text-align: center;
  }
  .ourstory .ourstory-div .ourstory-subtitle3::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 5%;
    left: 0%;
  }
  .ourstory .ourstory-div .ourstory-subtitle4 {
    margin-bottom: 10px;
    position: relative;
    width: 270px;
    text-align: center;
  }
  .ourstory .ourstory-div .ourstory-subtitle4::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 5%;
    left: 0%;
  }
  .ourstory .ourstory-div p {
    width: 96%;
    color: #4A240C;
    line-height: 2;
    margin-bottom: 50px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .index-header {
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
  }

  .indexslide {
    width: 100%;
    position: relative;
    /*換圖的動畫*/
  }
  .indexslide .img_oringin {
    width: 100%;
  }
  .indexslide .slideimg {
    width: 100%;
    display: none;
  }
  .indexslide .on {
    display: block;
  }
  .indexslide .slide-left-btn {
    width: 24px;
    height: 40px;
  }
  .indexslide .slide-right-btn {
    width: 24px;
    height: 40px;
  }
  .indexslide .dots {
    display: none;
  }
  .indexslide .dot {
    display: none;
  }
  .indexslide .doton {
    opacity: 100%;
  }
  .indexslide .title1 {
    top: 15%;
    left: 10%;
    font-size: 22px;
  }
  .indexslide .title2 {
    top: 30%;
    left: 10%;
    font-size: 22px;
  }
  .indexslide .title3 {
    top: 20%;
    left: 50%;
    font-size: 22px;
  }
  .indexslide .title4 {
    top: 70%;
    left: 50%;
    font-size: 22px;
  }
  .indexslide .title5 {
    top: 30%;
    left: 50%;
    font-size: 22px;
  }
  .indexslide .post {
    display: block;
  }
  .indexslide .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  .news {
    height: auto;
    width: 70vw;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .news .news-ol {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .news .news-ol li {
    min-width: 300px;
    margin-top: 30px;
  }
  .news .news-title {
    /*列表第一欄 最新活動的標題div*/
    display: flex;
    min-width: 120px;
    position: static;
    margin: 0 auto;
  }
  .news .news-title::before {
    display: none;
  }
  .news .news-title .news-title-up {
    display: none;
  }
  .news .news-title .news-title-bottom {
    display: none;
  }
  .news .news-title .news-title-rwd {
    display: block;
    width: 120px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  .news .news-title .news-title-rwd::before {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 5px solid #FBBC04;
    position: absolute;
    top: 90%;
    left: 0;
  }
  .news .news-title img {
    display: none;
  }

  .customized {
    padding: 0px;
    position: relative;
  }
  .customized h3 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    position: relative;
  }
  .customized h3::before {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 5px solid #FBBC04;
    position: absolute;
    top: 90%;
    left: 0%;
  }
  .customized p {
    margin: 50px auto 50px auto;
    text-align: center;
    color: #4A240C;
    font-weight: 600;
  }
  .customized .customized-ol {
    width: 100%;
    min-width: 560px;
    flex-direction: column;
    align-items: center;
  }
  .customized .customized-ol li {
    width: auto;
    margin-top: 30px;
  }

  .ourstory .ourstory-icon {
    width: 60px;
    height: 60px;
    top: 0px;
    left: 150px;
  }
  .ourstory .ourstory-div {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  }
  .ourstory .ourstory-div div {
    margin: 0 auto;
    width: 70%;
    /* border:1px solid red; */
    margin-top: 20px;
  }
  .ourstory .ourstory-div div img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .indexslide .title1 {
    top: 15%;
    left: 10%;
    font-size: 20px;
  }
  .indexslide .title2 {
    top: 30%;
    left: 10%;
    font-size: 20px;
  }
  .indexslide .title3 {
    top: 20%;
    left: 20%;
    font-size: 20px;
  }
  .indexslide .title4 {
    top: 80%;
    left: 30%;
    font-size: 20px;
  }
  .indexslide .title5 {
    top: 30%;
    left: 30%;
    font-size: 20px;
  }

  .news {
    width: 100%;
    align-items: center;
    border-radius: 0px;
    background-color: #E0E0E0;
  }
  .news .news-ol {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .news .news-ol li {
    min-width: 300px;
    margin-top: 30px;
  }
  .news .news-ol img {
    box-shadow: 2px 2px 2px grey;
    border-radius: 10px;
  }
  .news .news-title {
    /*列表第一欄 最新活動的標題div*/
    display: flex;
    min-width: 120px;
    position: static;
    margin: 0 auto;
  }
  .news .news-title img {
    display: none;
  }

  .customized {
    width: 100%;
    position: relative;
  }
  .customized h3 {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    position: relative;
  }
  .customized h3::before {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 5px solid #FBBC04;
    position: absolute;
    top: 90%;
    left: 0%;
  }
  .customized p {
    margin: 50px auto 50px auto;
    text-align: center;
    color: #4A240C;
    font-weight: 600;
  }
  .customized .customized-ol {
    width: 100%;
    min-width: 350px;
    flex-direction: column;
    align-items: center;
  }
  .customized .customized-ol li {
    width: auto;
    margin-top: 30px;
  }
  .customized .airplane-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .ourclient .ourclient-ol {
    width: 85%;
  }
  .ourclient .ourclient-ol li {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }
  .ourclient .ourclient-ol li div {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .ourclient .ourclient-ol li div h4 {
    font-size: 20px;
    width: 170px;
    position: relative;
    text-align: center;
  }
  .ourclient .ourclient-ol li div h4::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .ourclient .ourclient-ol li div p {
    color: #4A240C;
    font-size: 16px;
    word-spacing: 2px;
    line-height: 2;
    margin-top: 15px;
  }
  .ourclient .ourclient-ol li .client-pic {
    display: block;
    width: 180px;
    height: 180x;
    border-radius: 5px;
  }

  .good-icon {
    width: 50px;
    height: 50px;
    transform: rotate(15deg);
    position: absolute;
    left: 60px;
    bottom: -60px;
  }

  .ourstory .ourstory-icon {
    width: 50px;
    height: 50px;
    top: -30px;
    left: 30px;
  }
  .ourstory .ourstory-div {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .ourstory .ourstory-div div {
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-top: 20px;
  }
  .ourstory .ourstory-div div img {
    width: 100%;
    height: auto;
  }
  .ourstory .ourstory-div .ourstory-subtitle1 {
    margin-bottom: 10px;
    position: relative;
    width: 250px;
    text-align: center;
    font-size: 20px;
  }
  .ourstory .ourstory-div .ourstory-subtitle1::before {
    content: "";
    display: block;
    height: 25px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 8%;
    left: 0px;
  }
  .ourstory .ourstory-div .ourstory-subtitle2 {
    margin-bottom: 10px;
    position: relative;
    width: 200px;
    text-align: center;
    font-size: 20px;
  }
  .ourstory .ourstory-div .ourstory-subtitle2::before {
    content: "";
    display: block;
    height: 25px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 8%;
    left: 0px;
  }
  .ourstory .ourstory-div .ourstory-subtitle3 {
    margin-bottom: 10px;
    position: relative;
    width: 200px;
    text-align: center;
    font-size: 20px;
  }
  .ourstory .ourstory-div .ourstory-subtitle3::before {
    content: "";
    display: block;
    height: 25px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 8%;
    left: 0px;
  }
  .ourstory .ourstory-div .ourstory-subtitle4 {
    margin-bottom: 10px;
    position: relative;
    width: 230px;
    text-align: center;
    font-size: 20px;
  }
  .ourstory .ourstory-div .ourstory-subtitle4::before {
    content: "";
    display: block;
    height: 25px;
    border-left: 5px solid #FBBC04;
    position: absolute;
    top: 8%;
    left: 0px;
  }
}

/*# sourceMappingURL=indexNew.css.map */
