@media screen and (max-width:1440px){
    .index-header{
        box-sizing: border-box;
        width:auto;
        /* border:1px solid red; */
        margin:0 auto;
        background-color:#fff;
    }
    
    
    .indexslide{
        width:auto;
        height:auto;
        position: relative;
        /* border:1px solid red;
         */
    }
    .slideimg{
        width:100%;
        display:none;
    }
    .on{
        display:block;
    }
    
    .slide-left-btn{
        display:block;
        width:30px;
        height:50px;
        border:none;
        background-color: white;
        opacity: 70%;
        clip-path:polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
        position: absolute;
        top:48%;
        left:1.3%;
        cursor: pointer;
       
    }
    
    .slide-right-btn{
        display:block;
        width:30px;
        height:50px;
        border:none;
        background-color: white;
        opacity: 70%;
        clip-path: polygon(38% 0,50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
        position: absolute;
        top:48%;
        left:96%;
        cursor: pointer;
    }
    
    /*點點的區塊*/
    .dot{
        height:10px;
        width:10px;
        border-radius: 50%;
        background-color:#fff;
        margin-right:2px;
        display:inline-block;
        opacity: 50%;
    }
    .doton{
        opacity: 100%;
    }
    .slidetitle{
        display:none;
        font-size: 36px;
        
    }
    .title1{
        position:absolute;
        top:15%;
        left:10%;
        color:white;
        text-shadow:3px 3px 3px black ;
    }
    .title2{
        position:absolute;
        top:30%;
        left:10%;
        color:white;
        text-shadow:3px 3px 3px black ;
    }
    .title3{
        position:absolute;
        top:20%;
        left:60%;
        color:grey;
        text-shadow:3px 3px 3px white;
    }
    .title4{
        position:absolute;
        top:70%;
        left:60%;
        color:white;
        text-shadow:3px 3px 3px black;
    
    }
    .title5{
        position:absolute;
        top:30%;
        left:60%;
        color:white;
        text-shadow:1px 1px 1px black;
    
    }
    .post{
        display:block;
    }

        /*換圖的動畫*/
    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }
    
    @keyframes fade {
        from {opacity: .3}
        to {opacity: 1}
    }
    /*換圖的動畫*/

    /*main部分*/
    .indexmain{ 
        box-sizing: border-box;
        padding: 5px;
        width:1200px;
        background-color: #E0E0E0;
        margin:0 auto;
        /* border:1px solid red; */
    
    }
    /*以下是最新活動列表*/
    .news{
        box-sizing: border-box;
        width:95%;/*1140px*/
        height:282px;
        background-color: #fff;
        margin:0 auto;
        margin-top: 50px;
        padding:16px;
        /* border:1px solid green; */
        border-radius: 5px;
        position:relative;
        display:flex;
    }
    .news-ol{
         /*寬度是上層減去newstitle剩下的100%*/
        width:100%;
        /* height:100%; */
        /* border:2px solid black; */
        display:flex;
        justify-content:space-between;
    }
    .news-ol li{
        /* border:1px solid blue; */
        width:31%;
        height:100%;
    }
    .news-title{
        /*列表第一欄 最新活動的標題div*/
        width:166px;
        position:relative;
    
    }
    .news-title ::before{
        /*色bar裝飾*/
        content:"";
        display:block;
        height:82px;
        border-left: 5px solid #FBBC04;
        position:absolute;
        top:85px;
        left:21px;  
    }
    /* .news-title h2{
       
        font-size: 30px;
        color:black;
        letter-spacing:8px;
        
    } */
    .news-title-up{
        font-size: 30px;
        color:black;
        letter-spacing:8px;
        margin-top:83px;
        margin-left:33px;
        margin-bottom: 15px;
    }
    .news-title-bottom{
        font-size: 30px;
        color:black;
        letter-spacing:8px;
        margin-left:33px;
    }
    .news-title>img{
        width:75px;
        transform:rotate(335deg);
        position:absolute;
        top:175px;
        left:20px;
       
    }
    
    
    .activity1{
        text-decoration: none;
        display:block;
        width:100%;
        height:100%;
        background-image: url("../image/index/newactivity1.jpg");
        background-size: cover;
        position:relative;
        border-radius: 5px;
        
    }
    .activity2{
        text-decoration: none;
        display:block;
        width:100%;
        height:100%;
        background-image: url("../image/index/newactivity2.jpg");
        background-size: cover;
        position:relative;
        border-radius: 5px;
        
    }
    .activity3{
        text-decoration: none;
        display:block;
        width:100%;
        height:100%;
        background-image: url("../image/index/newactivity3.jpg");
        background-size: cover;
        position:relative;
        border-radius: 5px;
        
    }
    .news-ol p{
        font-size: 20px;
        position:absolute;
        bottom:30px;
        left:35px;
        text-shadow: 1px 1px 2px black;
    
    }
    
    .news-ol p{
        color:white;
        
    }
    
    /*客製旅遊*/
    .customized{
        box-sizing: border-box;
        /* border:1px solid blueviolet; */
        width:100%;/*1200px*/
        margin-top: 100px;
        padding:10px;
        position:relative;
    }
    .customized h2{
        font-size: 30px;
        text-align:center;
        margin:0 auto;
        margin-top:40px;
        margin-bottom:30px;
        width:128px;
        height:40px;
        border-bottom:5px solid #FBBC04;
        
    }
    
    .customized>p{
        margin:40px auto 20px auto;
        text-align: center;
        color:#4A240C;
        font-size: 22px;
    }
    /*客製旅遊的清單*/
    .customized-ol{
        width:80%; /*960px*/
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        /* border:1px solid red; */
    
    }
    .customized-ol li{
        width:31%; /**/
        height:415px;
        /* border:1px solid black; */
        position:relative;
    }
    /*客製旅遊的小圖*/
    .customizedpic-1{
        /* border:1px solid red; */
        height:250px;
        width:250px;
        border-radius: 50%;
        background-image: url("../image/index/indexcus1.jpg");
        background-size: cover;
    }
    
    .customizedpic-2{
        /* border:1px solid red; */
        height:250px;
        width:250px;
        border-radius: 50%;
        background-image: url("../image/index/indexcus2.jpg");
        background-size: cover;
    
    }
    .customizedpic-3{
        /* border:1px solid red; */
        height:250px;
        width:250px;
        border-radius: 50%;
        background-image: url("../image/index/indexcus3.jpg");
        background-size: cover;
    
    }
    /*克製旅行小圖的外框*/
    .customizedpic-outline{
        box-sizing: border-box;
        width:282.5px;
        height:282.5px;
        padding:16.25px;
        border-radius: 50%;
        background-color: #F5E75C;
    }
    
    .customized-ol h3{
        margin-top: 20px;
        font-size:24px;
        text-align:center;
        color:black;
    
    }
    .customized-ol h3::before{
        /* 小標題的底線 */
        content:"";
        border-left:5px solid #FBBC04;
        height:30px;
        display:block;
        position:absolute;
        top:300px;
        left:80px;
    }
    .customized-ol .customh3::before{
         content:"";
        border-left:5px solid #FBBC04;
        height:30px;
        display:block;
        position:absolute;
        top:300px;
        left:66px; 
    }
    
    
    .customized-ol p{
        width:100%;        
        margin-left: 20px;
        font-size: 20px;
        color:#4A240C;
        margin:20px auto 40px auto;
        line-height:2;
        /* border:1px solid red;
     */
    }
    .customized a{
        text-decoration: none;
        display:block;
        width:150px;
        height:50px;
        margin:100px auto 40px auto;
        background-color:#FF9105;
        font-size:20px;
        line-height:2.5;
        text-align: center;
        color:#fff;
        border-radius: 5px;
    }
    .customized a:hover{
        transform:scale(1.05);
    }
    .airplane-icon{
        width:112px;
        height:112px;
        position:absolute;
        top:20px;
        right:10px
    
    }
    .good-icon{
        width:154px;
        height:154px;
        transform: rotate(15deg);
        position:absolute;
        left:60px;
        bottom:-60px;
    }
        
    .ourclient{
        
        /* border:1px solid green; */
    }
    .ourclient h2{
        font-size: 30px;
        text-align:center;
        margin:0 auto;
        margin-top:40px;
        margin-bottom:40px;
        width:157px;
        height:40px;
        border-bottom:5px solid #FBBC04;
    }
    
    .ourclient-ol{
        box-sizing: border-box;
        width:100%;
        /* border:1px solid red; */
        margin:0 auto;
        margin-top: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    
    
    }
    .ourclient-ol li{
        box-sizing: border-box;
        background-color:#D6D2C5;
        /* border:1px solid blue; */
        margin-bottom: 20px;
        width:49%;
        height:320px;
        padding:10px;
        border-radius:5px;
        display:flex;
        justify-content: space-around;
       
        
    }
    .ourclient-ol div{
        /*我們的客戶的文字區塊*/
       
     /* border:1px solid red; */
     width:calc(50%-50px);
    height:250px;
    
    }
    .ourclient-ol h3{
        width:80%;
        font-size:24px;
        border-left:5px solid #FBBC04;
        text-align: center;
        margin-top: 15px;
    
    }
    
    .ourclient-ol p{
        font-size: 20px;
        color:#4A240C;
        width:95%;
        /* margin:0 auto; */
        /* border:1px solid black; */
        word-spacing: 2px;
        line-height: 2;
        margin-top: 20px;
    
    }
    /*我們的客戶圖案*/
    .client-pic{
        display:block;
        /* width:calc(50%-50px); */
        height:250px;
        border-radius: 5px;
        margin-top: 15px;
    }
    
    /*下面是我們的故事*/
    .ourstory{
        /* border:1px solid green; */
        position:relative;
        margin-bottom: 50px;
        border-radius: 5px;
    
    }
    .ourstory h2{
        font-size: 30px;
        text-align:center;
        margin:0 auto;
        margin-top:100px;
        margin-bottom:40px;
        width:160px;
        height:40px;
        border-bottom:5px solid #FBBC04;
    }
    
    .ourstory-icon{
        width:102px;
        height:111px;
        position:absolute;
        top:-60px;
        left:190px;
    
    }
    .ourstory-div{
        box-sizing:border-box;
        width:91%;
        margin:0 auto;
        /* border:1px solid red; */
        display:flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-between;
        padding:10px 30px;
    
    }
    .ourstory-div img{
        width:48%;
        height:332px;
        margin-top: 20px;
        display:block;
        border-radius: 5px;   
    }
    
    .ourstory-div>div{
        width:48%;
        /* height:332px; */
        /* border:1px solid red; */
        margin-top: 20px;
    } 
    .ourstory-div h3{
        font-size: 22px;
        border-left:5px solid #FBBC04;
        text-indent: 30px;
        margin-bottom: 10px;
    }
    
    .ourstory-div p{
        width:100%;
        /* border:1px solid red; */
        font-size: 20px;
        color:#4A240C;
        line-height: 2;
        margin-bottom: 50px;
        
    }
    
    
}