html{
    font-size: 62.6%;
}
.item-header{
    width:1440px;
    box-sizing: border-box;
    padding:5px;
    margin:0 auto;
    /* border:1px solid blue; */
    background-color: #E0E0E0;
    position:relative;
}
.navigation{
    /* border:1px solid blue; */
    margin-left:50px;
    margin-top: 10px;

}

.navigation a{
    text-decoration: none;
    color:#4A240C;
    font-size:16px;
    letter-spacing:5px;
}

h1{
    font-size: 36px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:10px;
    width:366px;
    height:46px;
    border-bottom:5px solid #FBBC04;
}
.item-main{
    box-sizing: border-box;
    padding:5px;
    width:1440px;
    margin:0 auto;
    background-color:#E0E0E0;
    /* border:1px solid red; */
    position:relative;
    display:flex;
    justify-content:space-around;

}
.item-section-left{
    width:850px;
    /* border:1px solid blue; */
    /* padding: 1px; */
}

.item-section-left img{
    /* border:1px solid red; */
    width:850px;
    height:500px;
    display:block;
    border-radius:5px;
    /* box-shadow: 1px 1px 1px grey; */
    /* margin-bottom: 10px; */
}
.item-section-left ol{
    box-sizing: border-box;
    width:850px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.item-section-left h2{
    font-size: 24px;
    border-left:5px solid #FBBC04;
    text-indent: 20px;
    margin-bottom: 10px;

}
.item-section-left p{
    font-size: 20px;
    color:#4A240C;
    line-height: 2;
    margin-bottom:20px;
}
.item-section-right{
 background-color: #fff;
  border:1px solid yellow;
 /* box-sizing: border-box; */
 width:400px;
 padding:20px;
 height:750px;

}
.item-section-right h2{
    font-size: 24px;
    border-left:5px solid #FBBC04;
    text-indent: 20px;
    margin-bottom: 10px;

}
.item-section-right p{
    font-size: 20px;
    line-height: 2;
    margin-bottom:20px;
    color:#4A240C;
}
.item-section-right a{
    display:block;
    width:140px;
    height:48px;
    text-decoration:none;
    background-color: #FF9105;
    color:white;
    margin:0 auto;
    border-radius:5px;
    font-size: 24px;
    text-align: center;
    line-height: 2;
}
.item-section-right a:hover{
    transform:scale(1.05);
}



