@media screen and (max-width:1440px){

    .itemlist-header{
        width:1200px;
    }
    h1{
        font-size: 30px;
        width:135px;
        height:40px;
    }
    .itemlist-main{
        width:1200px;
        margin:0 auto;
    }
    .itemlist-ol{
        width:1000px;
    }
    .itemlist-ol li{
        /* border:1px solid red; */
        width:300px;
    }
    .itemlist-ol a{
        display: block;
        /* border:1px solid blue; */
        width:auto;
    }
    .itemlist-ol img{
      width:300px;
      height:225px;
    }
    
    .itemlist-ol h2{
        color:black;
        font-size: 2rem;
    }
    .itemlist-ol p{
        padding:10px;
        font-size: 2rem;
    }
    .itemlist-ol div{
        font-size: 2rem;
        color:black;
    
    }
    
    
}
