@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.25%;
}

h1 {
  font-size: 36rem;
  line-height: 1.5;
}

h2 {
  font-size: 32rem;
  line-height: 1.5;
}

h3 {
  font-size: 28rem;
  line-height: 1.5;
}

h4 {
  font-size: 24rem;
  line-height: 1.5;
}

h5 {
  font-size: 20rem;
  line-height: 1.5;
}

p {
  font-size: 16rem;
  line-height: 1.5;
}

.hyperLinkBtn {
  width: 180px;
  height: 40px;
  background: #FF9105;
  border-radius: 5px;
}
.hyperLinkBtn:hover {
  transform: scale(1.05);
}
.hyperLinkBtn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.hyperLinkBtn a p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.otherBtn {
  width: 180px;
  height: 40px;
  background: #FBBC04;
  border-radius: 5px;
}
.otherBtn:hover {
  transform: scale(1.05);
}
.otherBtn p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.login-main {
  box-sizing: border-box;
  /* padding:5px; */
  max-width: 1280px;
  width: auto;
  margin: 0 auto;
  background-color: #E0E0E0;
  display: flex;
}

.bgimage {
  width: 928px;
  /* border: 1px solid black; */
  background-image: url("../image/login/trip-29.jpg");
  background-size: cover;
}

.login-section {
  /* border:1px solid blue; */
  width: 450px;
  margin-left: auto;
  padding: 30px;
  background-color: #D6D2C5;
}
.login-section .login-section-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 310px;
  height: 45px;
}
.login-section .use-soclialmedia {
  position: relative;
}
.login-section .use-soclialmedia span {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.login-section .use-soclialmedia span::before {
  content: "";
  display: inline-block;
  width: 120px;
  border-bottom: 1px dashed grey;
  position: absolute;
  top: 20px;
  left: 0px;
}
.login-section .use-soclialmedia span::after {
  content: "";
  display: inline-block;
  width: 120px;
  border-bottom: 1px dashed grey;
  position: absolute;
  top: 20px;
  right: 0px;
}
.login-section .socialmeedia-btn-container {
  display: flex;
  justify-content: space-between;
}
.login-section .socialmeedia-btn-container button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-section .socialmeedia-btn-container #facebook-signup-btn {
  background-color: #3b5998;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.login-section .socialmeedia-btn-container #google-signup-btn {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.login-section .socialmeedia-btn-container #facebook-signup-btn img {
  display: inline-block;
  margin-right: 15px;
  width: 22px;
  vertical-align: bottom;
}
.login-section .socialmeedia-btn-container #google-signup-btn img {
  display: inline-block;
  margin-right: 15px;
  width: 22px;
  vertical-align: bottom;
}
.login-section .use-email {
  /* border:1px solid red; */
  box-sizing: border-box;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 40px;
}
.login-section .use-email span {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
}
.login-section .use-email span::before {
  content: "";
  display: inline-block;
  width: 120px;
  border-bottom: 1px dashed grey;
  position: absolute;
  top: 25px;
  left: 0px;
}
.login-section .use-email span::after {
  content: "";
  display: inline-block;
  width: 120px;
  border-bottom: 1px dashed grey;
  position: absolute;
  top: 25px;
  right: 0px;
}

.newuser-formplace {
  width: 100%;
}
.newuser-formplace .form-ol {
  width: 100%;
  /* border: 1px solid red; */
}
.newuser-formplace .form-ol li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}
.newuser-formplace .form-ol input {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 10px;
  width: 450px;
  height: 46px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: black;
  border-radius: 2px;
  border: none;
}
.newuser-formplace #createnew-btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 3;
  border: none;
  background: #FF9105;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.newuser-formplace .login-container {
  /* border:1px solid red; */
  margin-top: 40px;
  text-align: end;
  font-size: 20px;
}
.newuser-formplace .login-container a {
  font-size: 20px;
  margin-left: 20px;
  color: red;
}

@media screen and (max-width: 992px) {
  .bgimage {
    width: 928px;
    /* border: 1px solid black; */
    background-image: url("../image/login/trip-29.jpg");
    background-size: cover;
  }

  .login-section {
    width: 380px;
  }
  .login-section .use-soclialmedia span::before {
    width: 100px;
  }
  .login-section .use-soclialmedia span::after {
    width: 100px;
  }
  .login-section .socialmeedia-btn-container button {
    width: 180px;
    height: 50px;
  }
  .login-section .use-email {
    box-sizing: border-box;
    width: 380px;
  }
  .login-section .use-email span::before {
    width: 100px;
  }
  .login-section .use-email span::after {
    width: 100px;
  }

  .newuser-formplace {
    width: 100%;
  }
  .newuser-formplace .form-ol {
    width: 100%;
  }
  .newuser-formplace .form-ol li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .newuser-formplace .form-ol input {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .login-section {
    width: 350px;
  }
  .login-section .use-soclialmedia span::before {
    width: 90px;
  }
  .login-section .use-soclialmedia span::after {
    width: 90px;
  }
  .login-section .socialmeedia-btn-container button {
    width: 170px;
    height: 50px;
  }
  .login-section .use-email {
    box-sizing: border-box;
    width: 350px;
  }
  .login-section .use-email span::before {
    width: 90px;
  }
  .login-section .use-email span::after {
    width: 90px;
  }

  .newuser-formplace {
    width: 100%;
  }
  .newuser-formplace .form-ol {
    width: 100%;
  }
  .newuser-formplace .form-ol li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .newuser-formplace .form-ol input {
    width: 100%;
  }
  .newuser-formplace #createnew-btn {
    width: 160px;
    height: 50px;
    line-height: 2.5;
  }
}
@media screen and (max-width: 576px) {
  .login-main {
    background-color: #D6D2C5;
  }

  .bgimage {
    display: none;
  }

  .login-section {
    width: 330px;
    margin: 0 auto;
    padding: 5px;
  }
  .login-section .login-section-title {
    font-size: 28px;
  }
  .login-section .use-soclialmedia span {
    font-size: 20px;
  }
  .login-section .use-soclialmedia span::before {
    top: 15px;
    width: 90px;
  }
  .login-section .use-soclialmedia span::after {
    top: 15px;
    width: 90px;
  }
  .login-section .socialmeedia-btn-container {
    flex-wrap: wrap;
  }
  .login-section .socialmeedia-btn-container button {
    width: 160px;
    height: 50px;
  }
  .login-section .socialmeedia-btn-container #facebook-signup-btn {
    background-color: #3b5998;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .login-section .socialmeedia-btn-container #google-signup-btn {
    font-size: 16px;
  }
  .login-section .use-email {
    box-sizing: border-box;
    width: 100%;
  }
  .login-section .use-email span {
    font-size: 20px;
  }
  .login-section .use-email span::before {
    width: 90px;
  }
  .login-section .use-email span::after {
    width: 90px;
  }

  .newuser-formplace {
    width: 100%;
  }
  .newuser-formplace .form-ol {
    width: 100%;
  }
  .newuser-formplace .form-ol li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .newuser-formplace .form-ol input {
    width: 100%;
  }
  .newuser-formplace #createnew-btn {
    width: 160px;
    height: 50px;
    line-height: 2.5;
  }
}

/*# sourceMappingURL=loginNew.css.map */
