@media screen and (max-width:1440px){
.main-header{
    box-sizing: border-box;
    width:1200px;
    /* border:1px solid blue; */
    margin:0 auto;
    background-color: #fff;
}
.mainslide{
    width:100%;
    height:auto;
    position: relative;
    
}
.slideimg{
    width:100%;
    display:none;
}
.on{
    display:block;
}

.slide-left-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path:polygon(50% 0, 62% 0, 13% 50%, 62% 100%, 50% 100%, 0% 50%);
    position: absolute;
    top:275px;
    left:20px;
    cursor: pointer;
   
}

.slide-right-btn{
    display:block;
    width:30px;
    height:50px;
    border:none;
    background-color: white;
    opacity: 70%;
    clip-path: polygon(38% 0,50% 0, 100% 50%, 50% 100%, 38% 100%, 88% 50%);
    position: absolute;
    top:275px;
    left:1390px;
    cursor: pointer;
}
/*點點的區塊*/
.dots{
    width:70px;
    margin:0 auto;
    position:absolute;
    top:580px;
    left:50%; /*還要再調*/
    transform: translate(-50%,0);
}

.dot{
    height:8px;
    width:8px;
    border-radius: 50%;
    background-color:#fff;
    margin-right:2px;
    display:inline-block;
    opacity: 70%;
}
.doton{
    opacity: 100%;
}
.slidetitle{
    display:none;
    font-size: 36px;
    color:grey;
    text-shadow: 1px 1px  black;
    position:absolute;
    top:60px;
    left:50px;
}
.post{
    display:block;
}

/*換圖的動畫*/
.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
  }

/*下面是main*/
.maintrip-main{
    box-sizing: border-box;
    padding:5px;
    width:1200px;
    margin:0 auto;
    /* border:1px solid yellow; */
    background-color: #E0E0E0;
     
}
h1{
    font-size: 30px;
    text-align:center;
    margin:0 auto;
    margin-top:60px;
    margin-bottom:40px;
    width:332px;
    height:40x;
    border-bottom:5px solid #FBBC04;
}
.section{
    box-sizing: border-box;
    width:95%;/*1140px*/
    /* border:1px solid red; */
    margin:0 auto;
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.postcard{
    box-sizing:border-box;
    background-color: #fff;
    width:500px;
    height:375px;
    margin-top: 30px;
    display:flex;
    box-shadow: 3px 3px 3px grey;
    /* transform: translate(0,-20px); */
   
    
}
.postcard-left{
    width:108px;
    height:375px;
    border-right:5px dashed #D3D3D3;
}

.postcard-left img{
    /*郵票的圖*/
    display:block;
    margin:0 auto;
    margin-top: 20px;
    width:66px;
    height:66px;
   
    
}
.postcard-right{
    /* border:1px solid red; */
    box-sizing: border-box;
}
.postcard-right p{
    box-sizing: border-box;
    width:360px;
    padding:5px;
    font-size: 20px;
    color:#4A240C;
    height:75px;
    /* border:1px solid red; */
    border-bottom: 3px solid #D3D3D3;
    vertical-align: bottom;
    
}
.postcard-right span{
    display:block;
    width:380px;
    margin-top:30px;
    /* border:1px solid blue; */
    
}
.postcard-pic{
    /*精選旅行的照片*/
    display:block;
    margin-top: 30px;
    height:375px;
    width:600px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    /* transform: rotate(1deg); */
} 
.information{
    /* border:1px solid yellow; */
    width: 92%;
    margin:0 auto;
    padding-top:1px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.information-h2{
    font-size: 30px;
    text-align:center;
    margin:0 auto;
    margin-top:60px;
    margin-bottom:10px;
    width:130px;
    height:40px;
    border-bottom:5px solid #FBBC04;
}

.information h3{
    font-size: 20px;
    border-left:5px solid #FBBC04;
    text-indent: 20px;
    margin-bottom: 10px;

}
.information p{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 20px;
    color:#4A240C;
    
}
.information a{
    display:block;
    width:140px;
    height:48px;
    text-decoration:none;
    background-color:#FF9105;
    color:white;
    margin:0 auto;
    margin-top: 20px;
    border-radius:5px;
    font-size: 24px;
    text-align: center;
    line-height: 2;
}
.information-ol{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.information-ol li{
    background-color: #fff;
   width:350px;
   box-sizing: border-box;
   padding:20px;
   margin-top: 20px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px grey;
   /* border:1px solid grey; */
}
.information-ol>.timeline{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.timeline div{
    /* border:1px solid yellow; */
    width:375px;
}

}