@media screen and (max-width:576px){
    .shopping-header{
        width:auto;
        margin:0 auto;
        background-color: #E0E0E0;
        padding-top: 5px;
        padding-bottom: 5px;
    
        /* border:1px solid blue; */
    }
    /*麵包屑*/
    .navigation{
        /* border:1px solid blue; */
        margin-left:10px;
        margin-top: 10px;
    
    }
    .navigation a{
        text-decoration: none;
        color:#4A240C;
        font-size:1.8rem;
        letter-spacing:1px;
    }
    
    h1{
        font-size: 3rem;
        text-align:center;
        margin:0 auto;
        margin-top:25px;
        margin-bottom:20px;
        width:160px;
        height:40px;
        border-bottom:5px solid #FBBC04;
    }
    .shopping-main{
        box-sizing: border-box;
        padding:5px 0;
        width:auto;
        margin:0 auto;
        background-color:#E0E0E0;
        /* border:1px solid red; */
    }
        
    
    /*表單的容器*/
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border:0;
        /* border-radius: 5px; */
        background-color: #fff;
        width:100%;
        margin:0 auto;
        margin-bottom: 50px;
        padding:5px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 3px 3px 3px grey;
    
    }
    /*左側選擇的商品欄位*/
    .selected{
        box-sizing: border-box;
        /* border:1px solid grey; */
        width:100%;
        height:auto;
        margin-right:20px;
        /* padding:20px; */
      
    }
    .selected img{
        width:100%;
        
    }
    .selected h2{
        font-size: 2.2rem;
        line-height: 2;
        margin-left:10px;
        margin-bottom: px;
    }
    .selected p{
        font-size: 2rem;
        line-height: 2;
        margin-left:10px;
        margin-bottom: 10px;
    }
    
    /*表單本體*/
    .shopping-form{ 
        border:0;
        border-top:2px dashed grey;
        width:100%;
        position:relative;
        padding-left:0px;
        padding-right: 0px;
    }
    
    .time{
        width:100%;
        /* border:1px solid blue; */
        margin-top:20px;
    
    }
    .time label{
        font-size: 2.2rem;
    }
    .time select{
        display:inline-block;
        font-size: 2.2rem;
        height:30px;
        margin-left: 0px;
        /* border:0.5px solid grey; */
    }
    
    .time option{
        font-size: 2.2rem;
    }
    
    /*選擇人數的欄位*/
    .number{
        width:100%;
        /* border:1px solid blue; */
        margin-top:20px;
    
    }
    .adult-number{
        /* border:1px solid yellow; */
        margin-top: 10px;
        width:100%;
    }
    .adult-number span{
        /* border:1px solid red; */
        display:inline-block;
        font-size:2rem;
        height:22px;
        margin-right: 10px;
        vertical-align: middle; 
    }
    
    /*調整數量加減的區塊*/
    .adult-number>div{
        display:inline-block;
        border:none;
        background-color:#fff;
        font-size: 2rem;
        vertical-align:middle;
        cursor: pointer;
        color:#4A240C;
    }
    
    .adult-number span[id]{
        border:0;
        width:40px;
        height:40px;
        background-color:white;
        border:2px solid #FBBC04;
        margin-right: 0;
        font-size: 2rem;
        line-height: 2;
        text-align: center;
    
    }
    .adult-number :nth-child(6){
        display:none;
    }
    
    
    .child-number{
        /* border:1px solid yellow; */
        margin-top:10px;
        width:100%;
    }
    .child-number span{
        display:inline-block;
        font-size:2rem;
        height:22px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .child-number :nth-child(2){
        margin-left:20px;
        
    }
    
    .child-number >div{
        display:inline-block;
        border:none;
        background-color:#fff;
        font-size: 2rem;
        cursor: pointer;
        color:#4A240C;
        vertical-align: middle;
    
    }
    .child-number span[id]{
        border:0;
        width:40px;
        height:40px;
        background-color:white;
        border:2px solid #FBBC04;
        margin-right: 0;
        font-size: 2rem;
        line-height: 2;
        text-align: center;
    }

    .child-number :nth-child(6){
        display:none;
    }
    
    .select-alert{
        color:red;
        opacity: 0;
    }
    .next_step_alert{
        color:red;
        opacity: 0;
    }
    .price-div{
        width:100%;
        height:130px;
        padding:20px 0px 20px 0px;
        /* border:1px solid green; */
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin:40px auto 0px auto;
        background-color: #E0E0E0;
        border-radius:5px;
    }
    .price_container{
        /* border: 1px solid red; */
        font-size: 2.6rem;
        background-color:transparent;
    }
    .next_step{
        font-size: 2.6rem;
        margin-top: 30px;
        line-height: 2;
        text-align: center;
        color:white;
        width:110px;
        height:52px;
        background-color: #FF9105;
        border-radius: 5px;
        cursor: pointer;
        /* position:absolute;
        top:-21px;
        right:0px; */
    
    
    }
    .price_container>span{
        color:red;
        margin-left: 20px;
    }
    
    
    /*-------------------------按下下一步以後的欄位--------------------------------*/
    
    /*主要聯絡人的資訊*/
    .info{
        /* border:1px solid blue; */
        padding:5px;
        margin-top:50px;
        margin-bottom:0px;
        font-size: 2rem;
        display:none; 
    
    }
    .info_major{
    
    }
    .info_major h2{
        margin-bottom: 20px;
    }
    .info_major>div{
        font-size: 22px;
        margin-bottom: 20px; 
    }
    .info_major label{
        font-size: 2rem;
        margin-left: 0px;
        margin-right: 10px;  
    }
    .info_major input{
        font-size: 2rem;
        font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";
    }
    
    .info_major input[type="text"]{
        width:200px;
        margin-right: 40px;
    }
    .info_major input[type="tel"]{
        width:180px;
        margin-right: 40px;
    }
    .info_major input[type="password"]{
        width:165px;
        margin-right: 40px;
    }
    
    /*其他參加者的資訊*/
    .info_other{
        margin-bottom: 50px;
    }
    .info_other_child{
        box-sizing: border-box;
        padding:5px;
        /* border:1px solid red; */
    }
    
    
    .info_other_child h2{
        font-size: 2rem;
        margin-top: 20px;
    
    }
    
    .info_other>div:nth-child(2n+1) {
        background-color: #E0E0E0;
      }
    
    .info_other_child > div{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .info_other_child  label{
        font-size: 2rem;
        margin-left: 0px;
        margin-right: 10px;  
    }
    .info_other_child  input[type="text"]{
        font-size: 2rem;
        width:200px;
        font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";
    }
    .info_other_child input[type="password"]{
        font-size: 2rem;
        width:165px;
        font-family: 'Noto Sans TC', sans-serif,"微軟正黑體"; 
    }
    /*飲食習慣*/
    
    .diet-habit{
        /* border:1px solid yellow; */
        margin-top:20px;
        font-size: 22px;
        border-top: 2px dashed grey; 
        background-color: #E0E0E0;
        display:none;
    }
    .diet-habit h2{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 2rem;
    }
    
    .diet-habit label{
        font-size: 2rem;
        margin-right: 10px;
        margin-left:0px;
    }
    .diet-habit label[for*="meat"]{
        margin-left:30px;
        font-size: 2rem;
    }
    
    .diet-habit input{
        width:50px;
        font-size: 2rem;
        font-family: 'Noto Sans TC', sans-serif,"微軟正黑體"; 
    
        
    }
    .diet-habit label[for*="note"]{
        margin-left:0px;
    }
    .diet-habit input[type="text"]{
        width:250px;
    }
    
    .diet-habit>div{
       
    }
    #diet_confirm{
        margin-top: 20px;
        margin-left: 20px;
        color:red;
        opacity: 0;
    }
    
    
    
    .textarea{
        /* border:1px solid yellow; */
        height:100px;
        /* width:300px; */
        margin-top:20px;
        font-size: 20px;
        display: flex;
        margin-bottom: 50px;
        display:none;
    
    }
    
    .textarea h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .textarea label{
        
    }
    .textarea textarea{
        height:80px;
        width:300px;
        font-family: 'Noto Sans TC', sans-serif,"微軟正黑體"; 
        
    }
    
    .nextOrLast{
        display:none;
    }
    
    .nextOrLast_choice{
        border:0;
        font-size: 2.6rem;
        line-height: 2;
        text-align: center;
        color:white;
        width:150px;
        height:52px;
        background-color: #FF9105;
        border-radius: 5px;
        /* margin-left: 150px; */
        cursor: pointer;
    }
    
    .display_block{
        display:block;
    
    }
    .display_flex_jtify_sa{
        display:flex;
        justify-content: space-around;
    }
}