@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* 預設字體 */
  font-size: 6.25%;
}

h1 {
  font-size: 36rem;
  line-height: 1.5;
}

h2 {
  font-size: 32rem;
  line-height: 1.5;
}

h3 {
  font-size: 28rem;
  line-height: 1.5;
}

h4 {
  font-size: 24rem;
  line-height: 1.5;
}

h5 {
  font-size: 20rem;
  line-height: 1.5;
}

p {
  font-size: 16rem;
  line-height: 1.5;
}

.hyperLinkBtn {
  width: 180px;
  height: 40px;
  background: #FF9105;
  border-radius: 5px;
}
.hyperLinkBtn:hover {
  transform: scale(1.05);
}
.hyperLinkBtn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.hyperLinkBtn a p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

.otherBtn {
  width: 180px;
  height: 40px;
  background: #FBBC04;
  border-radius: 5px;
}
.otherBtn:hover {
  transform: scale(1.05);
}
.otherBtn p {
  font-size: 20px;
  line-height: 2;
  color: #E0E0E0;
  text-align: center;
}

body {
  background-color: #E0E0E0;
}

.nav {
  width: auto;
  height: 56px;
  background-color: #fff;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.nav .logo-div {
  margin-right: auto;
  /* border: 1px solid black; */
}
.nav .logo-div img.nav-logo {
  /*logo 的img檔*/
  width: 130px;
  display: block;
  padding-top: 10px;
  padding-left: 15px;
}
.nav .logo-div img.nav-logo:hover {
  cursor: pointer;
}
.nav .gototopdiv {
  /* display:block; */
  display: none;
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 99;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  line-height: 3;
  font-size: 24rem;
  text-align: center;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  opacity: 60%;
  cursor: pointer;
}
.nav .gototop_mobile {
  display: none;
}
.nav .hambergericon {
  display: none;
}
.nav .nav_underline {
  /*首頁以外  選到的要有底線*/
  border-bottom: 5px solid #FBBC04;
}
.nav .nav-ol {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.nav .nav-ol li {
  width: 100px;
  text-align: center;
}
.nav .nav-ol li a {
  display: block;
  height: 100%;
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 16rem;
  line-height: 3.5;
}
.nav .nav-ol li a:hover {
  color: #FBBC04;
}
.nav .nav-ol:nth-Child(6) {
  width: 70px;
  text-align: center;
}
.nav .nav-ol .searchbarLi {
  width: 70px;
  text-align: center;
  position: relative;
  /*click觸發的搜尋bar*/
}
.nav .nav-ol .searchbarLi .searchbarlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
}
.nav .nav-ol .searchbarLi .searchbar {
  /* border:1px solid black; */
  width: 350px;
  height: 50px;
  position: absolute;
  top: 55px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.nav .nav-ol .searchbarLi .searchbar input {
  display: inline-block;
  border: 1px solid #E0E0E0;
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  font-size: 18px;
  height: 40px;
  width: 240px;
}
.nav .nav-ol .searchbarLi .searchbar button {
  font-family: "Noto Sans TC", sans-serif, "微軟正黑體";
  height: 40px;
  width: 60px;
  font-size: 18px;
  display: inline-block;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.nav .nav-ol .searchbarLi .hidesearchbar {
  display: none;
}
.nav .nav-ol .searchbarLi .mobile_closenav {
  display: none;
}

/*footer*/
.footer {
  box-sizing: border-box;
  width: auto;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  background-color: grey;
  position: relative;
  /* border:1px solid black; */
  display: flex;
  /*版權免責聲明*/
}
.footer .footer-logo-a {
  display: block;
  width: 100px;
}
.footer .footer-logo-a .footer-logo-img {
  /*logoimg*/
  display: block;
  height: 110px;
  cursor: pointer;
}
.footer .footer-ol {
  box-sizing: border-box;
  width: 250px;
  display: flex;
  align-items: end;
}
.footer .footer-ol li {
  margin-left: 10px;
}
.footer .footer-ol a {
  display: block;
  width: 30px;
}
.footer .footer-ol a img {
  width: 100%;
}
.footer .declare {
  font-size: 12rem;
  position: absolute;
  right: 1%;
}

@media screen and (max-width: 992px) {
  .nav {
    align-items: center;
  }
  .nav .nav-ol {
    display: none;
  }
  .nav .nav_ol_mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -60vw;
    background-color: #FF9105;
  }
  .nav .nav_ol_mobile li {
    width: 100%;
  }
  .nav .nav_ol_mobile li a {
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 18px;
  }
  .nav .nav_ol_mobile .searchbarLi {
    width: 100%;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbarlogo {
    display: none;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbar {
    position: static;
  }
  .nav .nav_ol_mobile .searchbarLi .hidesearchbar {
    display: block;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbar_mobile {
    background-color: #FF9105;
    margin: 0 auto;
    display: block;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbar_mobile input {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 70%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-left: 5px;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbar_mobile button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: static;
    display: block;
    height: 36px;
    width: 30%;
    border-radius: 5px;
    margin: 20px auto 20px auto;
  }
  .nav .nav_ol_mobile .searchbarLi .searchbar_mobile .mobile_closenav {
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .nav .nav_ol_open {
    transform: translateX(-60vw);
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .nav .nav_ol_close {
    transform: translateX(60vw);
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .nav .hambergericon {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .nav .nav_underline {
    /*首頁以外  選到的要有底線*/
    border: 0;
  }
  .nav .hidesearchbar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
