@import'base/reset';
@import'base/var';
@import 'base/font';
@import'component/button';
@import'mixin/mixin';

body{
    background-color:$white;
}
.nav{
    width:auto;
    height:56px;
    background-color: #fff;
    // border: 1px solid green;
    margin:0 auto;
    position:sticky;
    top:0px;
    z-index: 1;
    display:flex;
    justify-content: space-between;

    .logo-div {
        margin-right:auto;
        /* border: 1px solid black; */
        a{
            // border:1px solid red;
        }
        img.nav-logo{
            /*logo 的img檔*/
            width:130px;
            display:block;
            padding-top: 10px;
            padding-left: 15px;
            &:hover{
                cursor: pointer;
            }
           
          }
    }

    .gototopdiv{
        /* display:block; */
        
        display:none;
        position:fixed;
        bottom:50px;
        right:10px;
        z-index: 99;
        box-sizing: border-box;
        width:72px;
        height:72px;
        line-height: 3;
        font-size: 24rem;
        text-align: center;
        color:black;
        background-color: #fff;
        border-radius: 50%;
        opacity: 60%;
        cursor: pointer;
    }

    .gototop_mobile{
        display:none
    }

    .hambergericon{
        display:none;
    }

    .nav_underline{
        /*首頁以外  選到的要有底線*/
        border-bottom:5px solid $orange;
    }
 
    .nav-ol{
        height:100%;
        display:flex;
        justify-content:flex-end;
        position:relative;
        li{
            width:100px;
            // border:1px solid red; 
            text-align:center;   

            a{
                display:block;
                height:100%;
                width:100px;
                text-decoration:none;
                color:black;
                font-size:16rem;
                line-height:3.5;
                &:hover{
                    color:$orange;
                }
            }
            
        }

        &:nth-Child(6){
            width:70px;
            text-align: center;
        }
        .searchbarLi{
            width:70px;
            text-align: center;
            position: relative;
            // border:1px solid yellow;
            .searchbarlogo{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:30px;
                cursor: pointer;
            }

            /*click觸發的搜尋bar*/

            .searchbar{
                /* border:1px solid black; */
                width:350px;
                height:50px;
                position:absolute;
                top:55px;
                right:0px;
                display:flex;
                justify-content: space-around;
                align-items: center;
                background-color:#fff;
                border-radius:10px;

                input{
                    display:inline-block;
                    border:1px solid #E0E0E0;
                    font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";
                    font-size:18px;
                    height:40px;
                    width:240px;
                }

                button{
                    font-family: 'Noto Sans TC', sans-serif,"微軟正黑體"; 
                    height:40px;
                    width:60px;
                    font-size:18px;
                    display:inline-block;
                    border:0;
                    background-color: #fff;
                    cursor: pointer;
                }

            }
            .searchbar_mobile{

            }
            .hidesearchbar{
                display:none;
            }
            .mobile_closenav{
                display:none;
            }
        }
       
    }
   
}





/*footer*/

.footer{
    box-sizing: border-box;
    width:auto;
    height:150px;
    margin:0 auto;
    padding:20px;
    background-color: grey;
    position: relative;
    // border:1px solid black; 
    display:flex;
    
    .footer-logo-a{
        display:block;
        width:100px;

        .footer-logo-img{
            /*logoimg*/
            display:block;
            height:110px;
            cursor: pointer;
            
        }
        
    }
    .footer-ol{
        box-sizing: border-box;
      
        // border:2px solid blue; 
        width:250px;
        display:flex;
        align-items: end;
        li{
            margin-left: 10px;
        }

        a{

            display:block;
            width:30px;
            
            img{
                width:100%;
            }

        }
        
    }

    /*版權免責聲明*/
    .declare{
        // border:1px solid white;
        font-size: 12rem;
        position: absolute;
        right:1%;
        
        
    }
   
    
}


@media screen and (max-width:992px){
    .nav{
        align-items: center;
        .nav-ol{
            display:none;
        }
        .nav_ol_mobile{
            display:flex;
            flex-direction: column;
            justify-content:start;
            width:60vw;
            height:100vh;
            position:absolute;
            top:0;
            right:-60vw;
            background-color:#FF9105;
            // border:1px solid blue;
            li{
                width:100%;
              
                a{
                    display: block;
                    text-align: center;
                    // border:1px solid blue;
                    width:100%;
                    color:white;
                    font-size: 18px;
                }
            }
            
            .searchbarLi{
                width:100%;
                // border:1px solid green;
                // background-color:#FF9105;
                
                .searchbarlogo{
                    display: none;
                }
                .searchbar{
                    position: static;
                }
                .hidesearchbar{
                    display:block;
                }
                .searchbar_mobile{
                    
                    background-color:#FF9105;
                    // padding:5px;
                    // border:1px solid blue;
                    margin: 0 auto;
                    display:block;
                    input{
                        display:block;
                        margin: 0 auto;
                        border-radius: 5px;  
                        width:70%;
                        font-family: 'Roboto', sans-serif;
                        font-size: 20px;
                        padding-left:5px;
                    }

                    button{
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        position: static;
                        display:block;
                        height:36px;
                        width:30%;
                        border-radius: 5px;
                        margin:20px auto 20px auto;
                      
                    }

                    .mobile_closenav{
                        display:block;
                        width:40px;
                        margin: 0 auto;
                        margin-top: 20px;
                    }

                }
                
               
            }
         
        }
        .nav_ol_open{
            transform: translateX(-60vw);
            transition-duration: .5s;
            transition-property: all;
            transition-timing-function: ease;
        }
        .nav_ol_close{
            transform: translateX(60vw);
            transition-duration: 1s;
            transition-property: all;
            transition-timing-function: ease;
        }
    
        .hambergericon{
            display:block;
            width:30px;
            height:30px;
            margin-right: 20px;
           
        }
        .nav_underline{
            /*首頁以外  選到的要有底線*/
            border:0;
        }

       

    .hidesearchbar{
        display:none;
        }
    }
   
}
@media screen and (max-width:768px){
   .footer{
    .declare{
        display:none;
    }
   }
}
@media screen and (max-width:576px){
    .nav{
        align-items: center;
        .nav-ol{
            display:none;
        }
        .nav_ol_mobile{
            display:flex;
            flex-direction: column;
            justify-content:start;
            width:60vw;
            height:100vh;
            position:absolute;
            top:0;
            right:-60vw;
            background-color:#FF9105;
            // border:1px solid blue;
            li{
                width:100%;
              
                a{
                    display: block;
                    text-align: center;
                    // border:1px solid blue;
                    width:100%;
                    color:white;
                    font-size: 18px;
                }
            }
            
            .searchbarLi{
                width:100%;
                // border:1px solid green;
                // background-color:#FF9105;
                
                .searchbarlogo{
                    display: none;
                }
                .searchbar{
                    position: static;
                }
                .hidesearchbar{
                    display:block;
                }
                .searchbar_mobile{
                    width:100%;
                    
                    input{
                      
                        // border:1px solid red;
                    }

                   

                }
                
               
            }
         
        }
        
    }
}